body {
    /*padding-top: 60px;
    padding-bottom: 40px;*/
  }

  ul{
  	list-style-type:none;
  	margin: 60;
	  padding: 0;
  }

  div.container a.brand {
    /*background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;*/
    margin-left: 0;
    padding: 8px 20px 12px 40px;
  }

.mapa { 
  width: 100%; 
  height: 300px; 
  margin: 10px 0 10px 0;
  border: 3px solid #FFF;
}

.mapa:after{
  content: "Informe o endereço de entrega";
  padding-top: 170px;
  display: block;
  text-align: center;
  font-size: 2em;
}

