<% include ../layout/cabecario.html %>


		<script type="text/javascript" src="/javascripts/orcamento/CriarCtrl.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<script type="text/javascript" src="/vendors/jquery.geocomplete.min.js"></script>
		<script type="text/javascript" src="/vendors/moment/moment.min.js"></script>
		<div class='row-fluid'  ng-app ng-controller="CriarCtrl">
			<div align="center">
				<h3>
					<small>Orçamento</small>
					<br>
					Quanto você cobra por esses produtos?
				</h2>
			</div>
			<div class="span2"></div><!-- sidbar da esquerda -->
			<div class="span6"><!-- Content -->
				<br />
				<blockquote>
					<img src="/images/clock68.png" alt="Tempo de temrino do leilão">
					<span>Encerramento do leilão: <span class="text-success">{{leilao_fimestimado_format}}</span></span>
					<small>Após esse horário, pode ser encerrado entre 1 a 30 minutos</small>
				</blockquote>
				<br>
				<input type='hidden' id='leilao_numero' value=<%= leilao_numero %> >
				<ul class="list span12"> 
					<li ng-repeat="i in orcamento.itens">
						<div class="well well-small">
							<div class='span8'>
								<span>{{i.item_nome}}</span>
							</div>
							<div class='span1'>
								<span class="lead">{{i.item_quantidade}}</span><br>
							</div>
							<div class="input-prepend input-append">
							  <span class="add-on">R$</span>
							  <input required class="span2" type="text" ng-change="somar()" ng-model="i.itemorcamento_valortotal" }>
							</div>
							<p>{{i.item_descricao}}</p>
						</div>
					</li>
				</ul>
				<span class="lead offset8">Total R$ {{valorTotal}},00 </span>
			</div>
			<div class="span3"> <!-- sidbar da direita -->
				<br />
				<div class="well">
					<i class="icon-map-marker"></i><span>{{leilao.leilao_localentrega}}</span>
					<div class="mapa"></div>
					<label>Preço do frete</label>	
					<div class="input-prepend input-append">
					  <span class="add-on">R$</span>
					  <input ng-model="orcamento.orcamento_valorentrega" required type="text" class="span6" placeholder="Coloque 0 para grátis">
					</div>
					<label>Prazo de entrega</label>	
					<input required ng-model="orcamento.orcamento_prazoentrega" class="span6" type="text" placeholder="em dias úteis">
					<input type="hidden"  id="localEntrega">
				</div>
			</div>
			<hr class="span9 offset2">
			<div class="row-fluid span12" align="center"> <!-- Botão enviar -->
				<a id="btnCriar" class="btn btn-primary btn-large finish" ng-click="enviar()" data-loading-text="Aguarde... Enviando orçamento.">
					Enviar orçamento
				</a>
			</div>
		</div>

<% include ../layout/rodape.html %>

