<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Solitação de orçamento</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="682">
		<td valign="top" width="195" height="27">
           <font face="Arial, Helvetica, sans-serif" color="#E07565" style="font-size:28px; line-height:27px">Leilão</font> 
      </td>
        <td valign="top" width="455" height="27" align="right">
            <font face="Arial, Helvetica, sans-serif" color="#E07565" style="font-size:16px; line-height:27px">Solicitação de orçamento</font>
        </td>
        <td valign="top" width="32" height="27">&nbsp;</td>
    </tr>
    <tr>
		<td valign="top" width="682" height="29" colspan="3">
            <img src="https://a248.e.akamai.net/f/248/117341/5d/static.brandsclub.com.br/webshop/email/v3/imgs/all/header-bottom.gif" alt="" width="682" height="29" border="0" align="top"/> 
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="682" bgcolor="#FCFCFC">
	<tr>
    	<td valign="top" width="32" height="45">&nbsp;</td>
		<td valign="middle" width="328" height="45">
          <img src="<%= hostname %>/images/usermedium.gif" alt="Kévio Castro!">
        	<font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:14px;">
                Olá <font color="#000" style="font-size:16px">fornecedor</font>,
          	</font>
        </td>
        <td valign="top" width="32" height="35">&nbsp;</td>
    </tr>
    
    <tr>
   	  <td valign="top" width="32">&nbsp;</td>
	  <td valign="middle" height="50" colspan="2">
        	<font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:14px;">
                Você pode me enviar um orçamento desses produtos?
           	</font>
      </td>
      <td valign="top" width="32">&nbsp;</td>
    </tr>
    <tr>
   	  <td valign="top" width="32">&nbsp;</td>
		<td valign="middle" height="30" colspan="2" bgcolor="#FFFFFF" style="border:1px solid #F1F1F1;">
        	<font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:14px;">
               &nbsp;&nbsp;&nbsp; <font color="#000">Local de entrega:</font> <%= leilao.leilao_localentrega %>
       	  </font>
        </td>
      <td valign="top" width="32">&nbsp;</td>
    </tr>
    <tr>
    	<td valign="top" colspan="4">&nbsp;</td>	  	
  </tr>
  <tr>
   	  <td valign="top" width="32">&nbsp;</td>
	<td valign="middle" colspan="2" bgcolor="#FFFFFF" style="border:1px solid #F1F1F1;">
   	  <table cellpadding="0" cellspacing="0" border="0" align="center" width="562">
        <thead>
            <tr height="20px">
             <td valign="top" width="502"></td>
             <td valign="top" width="10">&nbsp;</td>      
             <td valign="top" align="center" width="50">Quantidade</td>  
           </tr>
        </thead>
       <tbody>
          <!-- LOOP ITENS: INICIO -->
          <% for (var i = leilao.itens.length - 1; i >= 0; i--) { %>
              <hr />
              <tr>
                    <td valign="top" width="502">
                    	<font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:11px; line-height:16px;">
                        	<font color="#000" style="font-size:18px;">
                            	<strong><%= leilao.itens[i].item_nome %></strong><br/>
                                <font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:14px;">
                                  <%= leilao.itens[i].item_descricao  %>
                              </font>
                            </font>
                        </font>
                    </td>	  	
                    <td valign="top" width="10">&nbsp;</td>	  	
                    <td valign="top" align="center" width="50">
                    	<font face="Arial, Helvetica, sans-serif" color="#000" style="font-size:18px; line-height:12px;">
                        	<strong><%= leilao.itens[i].item_quantidade %></strong><br/> 
                        </font>
                    </td>	  	
                    <td valign="top" width="79">&nbsp;</td>
                </tr>
                <br />
              <% } %>
            <!-- LOOP ITENS: FIM -->
            <tr height="20px"></tr>
          </tbody>
	  </table>            
   	</td>
    	<td valign="top" width="32">&nbsp;</td>
  </tr>
    
    <tr>
    	<td valign="top" colspan="4">&nbsp;</td>	  	
  	</tr>
</table>
<div align="center">
   <font face="Arial, Helvetica, sans-serif" color="#777" style="font-size:22px;">
    <a href="<%= hostname %>/orcamento/criar/<%= leilao.leilao_numero %>"> 
      <span style="display:block; padding:10px; background-color:#D96C58; width:250px; margin:auto">
          <font color="#FFF">Dê seu preço</font>
      </span>
    </a>
  </font>
</div>
</body>
</html>