<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Projeto Leilao</title>
	<link rel="shortcut icon" href="/images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script type="text/javascript" src="/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="/vendors/moment/moment.min.js"></script>
	<script type="text/javascript" src="/vendors/moment/pt-br.js"></script>
	<script type="text/javascript" src="/vendors/angular.min.js"></script>
	<script type="text/javascript" src="/vendors/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a href="/leilao/criar" title="Criar um novo leilão" class="brand">Criar leilão</a>
				<% if( contexto == 'leilao_confirmacao' || contexto == 'leilao_ranking' ) { %>
					<a href="/orcamento/criar/<%= leilao_numero%>" title="Criar orçamento" class="brand">Criar orçamento</a>
				<% } %>
				<% if( contexto == 'orcamento_criar' ) { %>
					<a href="/leilao/ranking/<%= leilao_numero%>" title="Ver o ranking do leilão" class="brand">Ranking do leilão</a>
				<% } %>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	