<% include ../layout/cabecario.html %>
		<script type="text/javascript" src="/javascripts/leilao/ConfirmacaoCtrl.js"></script>
		<div class='row-fluid'  ng-app ng-controller="ConfirmacaoCtrl">
			<div align="center">
					<h3>
						<small>Pronto</small>
						<br>
						Leilão em andamento
					</h2>
			</div>
			<input type="hidden" id="leilao_numero" value="<%= leilao_numero %>">
			<div class="span2">
				<div class="well well-small">
					<p>Você pode acompanhar seu leilão nesse endereço <a href="/leilao/ranking/<%= leilao_numero%>">aqui</a>.</p>
					<label class="checkbox">
					    <input id="checkNotificar" type="checkbox"  ng-model="leilao.leilao_acompanhar" ng-click="notificacao()">{{msgNotificar}}
				  </label>
				</div>
			</div>  <!-- Sidbar esquerda -->
			<div class="span8"> <!-- Content -->
				<div class='row-fluid'>
					<div class="span6">
						Seu leilão foi enviado para n fornecedores.<br>
						Agora é com eles...
						<div><img src="/images/send-blue.png" class="img-polaroi"></div>	
					</div>
					<br><br>
					<div class="span6">
						No final o site irá te enviar um e-mail com os melhores orçamentos.<br>
						Então você pode bater o martelo e realizar o pagamento.
						<div><img src="/images/payment.png" class="img-polaroi"></div>
					</div>
				</div>
				
			</div> 
			<div class="span2"></div> <!-- Sidbar direita -->
		</div>

<% include ../layout/rodape.html %>
