<% include ../layout/cabecario.html %>

		<script type="text/javascript" src="/javascripts/leilao/IniciarCtrl.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<script type="text/javascript" src="/vendors/jquery.geocomplete.min.js"></script>
		<script>
			 $(function(){
		        var $geocomplete = $("#inputLocalEntrega"),
		          	$multiple = $("#ulMultiplosEnderecos");
		        
		        $geocomplete
		          .geocomplete({ map: ".mapa" })
		          .bind('geocode:result', function(event, result) {
		          	$('#spanLocalEntrega').text(result.formatted_address);
		          })
		          .bind("geocode:multiple", function(event, results){
		            $.each(results, function(){
		              var result = this;
		              $("<li>")
		                .html(result.formatted_address)
		                .appendTo($multiple)
		                .click(function(){
		                  $geocomplete.geocomplete("update", result)
		                });
		            });
		          });
		      });
		</script>
		<div class='row-fluid'  ng-app ng-controller="IniciarCtrl">
			<div align="center"> <!-- Titulo da página -->
				<h3>
					<small>Pronto</small>
					<br>
					Defina o tempo e inicie seu leilão
				</h3>
			</div>
			<div class="span2"></div><!-- sidbarPORANG da esquerda -->
			<div class="span6"> <!-- Content -->
				<form name="form">
					<input type="hidden" id="leilao_numero" value=<%= leilao_numero %>>
					<br>
					<div class="btn-group" data-toggle="buttons-radio" align="left">
						<button type="button" class="btn" ng-click="definirEncerramento(3)" ><i class="icon-time"></i> 3 Horas</button>
						<button id="btnTimeDefault" data-toggle="button" type="button" class="btn" ng-click="definirEncerramento(6)"><i class="icon-time"></i> 6 Horas</button>
						<button type="button" class="btn" ng-click="definirEncerramento(24)"><i class="icon-time"></i> 24 Horas</button>
					</div>
					<br>
					<blockquote>
						<p>Encerramento do leilão:<span class="text-success">{{fimEstimadoFormat}}</span></p>
						<small>Após esse horário, pode ser encerrado entre 1 a 30 minutos</small>
					</blockquote>
					<br>
					<label for="inputEntrega" required>Local de entrega</label>
					<input type="text"  id="inputLocalEntrega" class="span12" ng-model='leilao.leilao_localentrega' maxlength='60' placeholder='Ex.: 74605120, Rua 233, Goiânia-Go'>
					<br><br>
					<label for="inputPagamento" required>Como você prefere pagar?</label>
					<input type="text" class="span12" ng-model='leilao.leilao_pagamento' maxlength='60' placeholder='Ex.: cartão master parcelado'>
					<br><br>
					<label for="inputEmails">Você já tem seus fornecedores e quer inclui-los neste leilão...</label>
					<span class="muted">Coloque o email deles aqui...</span><br>
					<textarea class="span12" rows="2" ng-model="leilao.leilao_emails" type='text' maxlength='300' placeholder='fornecedor1@gmail.com, fornecedor2@hotmail.com, ....'></textarea>

				</form>
				<hr>
				<div class="row-fluid" align="center">
					<a id="btnIniciar" class="btn btn-primary btn-large {{estadoIniciar}}" ng-click="iniciar()" data-loading-text="Enviando...">
						Iniciar
					</a>
				</div>
			</div>
			<div class="span3"><!-- Sidbar da direita -->
				<div class="well">
					<i class="icon-map-marker"></i><span id="spanLocalEntrega"></span>
					<div class="mapa"></div>
					<ul id="ulMultiplosEnderecos"></ul>
				</div>
				
			</div>
		</div>

<% include ../layout/rodape.html %>
